<!doctype html>
<html class="h-100" lang="{{this.frontmatter.lang}}">

<head>
  <meta charset="utf-8">
  <title>
    {{this.title}}
  </title>
  <meta name="description" content="{{this.frontmatter.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{> header}}
</head>

<body class="d-flex flex-column h-100">

<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<main class="flex-shrink-0 mb-5">
  {{> navigation}}
  {{#with frontmatter.header}}
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-md-8 py-5 text-center">
          <h1 class="display-4 font-weight-bold">{{title}}</h1>
          <p class="lead">{{sub}}</p>
        </div>
      </div>
    </div>
  {{/with}}
</main>
{{> footer}}
{{> scripts}}
</body>

</html>
